<section class='homePage'>
  <div class='card'>
    <header class='cardAbove'>
      <img src='/images/beer.png' alt='beer' class='cardImage' />
    </header>
    <div class='cardButton'>
      <a href='/beers' class='buttonBeers'>Check the beers</a>
      <a href='/random-beer' class='buttonRandomBeers'>Check the random beers</a>
    </div>
  </div>
</section>